.containerPrincipal{
    background-color: #1E1E1E;
    width: 100%;
    color: white;
    padding: 10px;
    height: 5vh;
    display: flex;
    gap: 90px;
}
.tabs{
    display: flex;
    width: 100%;
    
}