.containerPrincipal{
    background-color: #333333;
    min-width: 5vw;
    height: 95vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}
@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: row;
    }
    .containerPrincipal span{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}