.containerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}
.item{
    display: flex;
    gap: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    
}
.containerPrincipal span{
    font-size: 15px;
}