.containerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #313131;
    padding: 5px;
    cursor: pointer;
}
.item{
    display: flex;
    gap: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.containerPrincipal span{
    font-size: 15px;
}
.containerClose{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerClose:hover{
    background-color: red;
    color: white;
    transition: 02.s ease;
}