.containerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #313131;
    padding: 5px;
    cursor: pointer;
}
.item{
    display: flex;
    gap: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.containerPrincipal span{
    font-size: 15px;
}