.containerPrincipal{
    background-color: #333333;
    width: 100%;
    height: 5vh;
    display: flex;
    padding: 10px;
    color: white;
    font-size: 8px;
}
@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
}