.containerPrincipal{
    background-color: #313131;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.paragraph{
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(71, 71, 71);
}
.paragraph p {
    margin-bottom: 15px;
}
.title{
    color: rgb(70, 190, 238);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    font-weight: bolder;
}
.icons{
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.code{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    color: rgb(51, 108, 240);
    font-weight: bolder;
    text-decoration: none;
}
.code i {
    font-size: 20px;
}
.view{
    color: green;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
.docs{
    color: red;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
.docs span{
    font-size: 20px;
}

@media (max-width: 800px) {
    .icons{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .view{
        padding: 0;
    }
    .code{
        padding: 0;
    }
    .docs{
        padding: 0;
    }
}