.containerPrincipal{
    background-color: #313131;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paragraph{
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(71, 71, 71);
}
.paragraph p {
    margin-bottom: 15px;
}
.title{
    color: rgb(70, 190, 238);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    font-weight: bolder;
    
}