.containerPrincipal{
    background-color: #313131;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #656464;
}