.containerPrincipal{
    background-color: #1E1E1E;
    width: 12vw;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.file{
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.file:hover{
    background-color: #313131
}
@media (max-width: 800px) {
    .containerPrincipal{
        width: 100%;
        height: fit-content;
        display: flex;
    }
}