.containerPrincipal{
    background-color: #313131;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paragraph{
    background-color: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(71, 71, 71);
    font-size: 15px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color); 
    padding: 10px;
    font-weight: bolder;
}
.info{
    padding: 10px;
    margin-left: 20px;
}
.button{
    background-color: rgb(20, 20, 240);
    color: white;
    padding: 5px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    
}
.button:hover{
    background-color: white;
    color: rgb(20, 20, 240);
    transition: 0.3s ease;
}

