.containerPrincipal{
    display: flex;
    max-width: 100vw;
    max-height: 95vh;
}
.containerContent{
    width: 100%;
    height: 95vh;
}
.subContent{
    height: 87vh;
    display: flex;
}

@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: column;
    }
    .subContent{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}